
  <div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-user-cog"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">My Profile</span>
            <div class="dropdown-divider"></div>
            <a style="cursor: pointer;" routerLink="/profile" class="dropdown-item">
              <i class="fas fa-id-card"></i>&nbsp; View Profile
            </a>
            <div class="dropdown-divider"></div>
            <a style="cursor: pointer;" routerLink="/changePassword" class="dropdown-item">
              <i class="fas fa-key"></i>&nbsp; Change Password
            </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" (click)="onLogout()">
            Logout
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>




