 <!-- Content Header (Page header) -->
 <section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Receipt TimeLine</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Receipt View</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <button class="btn btn-primary" (click)="onBack()">Back</button>
    <br><br>
    <!-- Timelime example  -->
    <div class="row">
      <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline" *ngFor="let receipt of receiptDetails">
          <!-- timeline time label -->
          <div class="time-label">
            <span class="bg-green">{{receipt.createdDate | date: 'dd MMM. yyyy'}}</span>
          </div>
          <!-- /.timeline-label -->
          <!-- timeline item -->
          <div>
            <i class="fas fa-envelope bg-blue"></i>
              <div class="timeline-body">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-text-width"></i>
                      {{receipt.narration}}
                    </h3>
                    <span class="float-right"><button class="btn btn-default">Print</button></span>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <dl>
                      <dt>Receipt No:   {{receipt.receiptNo}}</dt>
                      <dt>Bill No:   {{receipt.billNo}}</dt>
                      <dt>Payment mode:   {{receipt.paymentMode}}</dt>
                      <dt>Amount Received:   {{receipt.amountReceived}}</dt>
                      <dt>Received By:   {{receipt.receivedBy}}</dt>
                      <dt><span class="time"><i class="fas fa-clock"></i>:   {{receipt.createdDate | date: 'hh:mm'}}</span></dt>
                    </dl>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <button class="btn btn-primary" (click)="onBack()">Back</button>
  </div>
  <!-- /.timeline -->

</section>
<!-- /.content -->
