

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Bill generation</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Bill generate</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content">
  <div class="row">
   <div class="col-12">
      <div class="card">
        <div class="card-header">
          <form [formGroup]="billGenerateForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="month">Select Month</label>
                <input type="text"
                id="selectDate"
                bsDatepicker class="form-control"
                (onShown)="onOpenCalendar($event)"
                formControlName="selectMonth"
                [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'MM/YYYY' }"
                >
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="find">Find</label>
                    <button type="submit"
                    [disabled]="!billGenerateForm.valid"
                     class="btn btn-success form-control">Find</button>
                  </div>
                </div>
                <div class="col-6" *ngIf="showGenerate">
                  <div class="form-group">
                    <label for="Generate">Generate bill</label>
                    <button
                    (click)="onGenerate()"
                    class="btn btn-block bg-gradient-success form-control">
                    Generate</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <table datatable="ng" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>FlatNo</th>
              <th>Periods</th>
              <th>BTU Amount</th>
              <th>Elect Amount</th>
              <th>Water Amount</th>
              <th>Current bill</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bill of billList">
              <td>{{ bill.flatNo }}</td>
              <td>{{ bill.cycle_from | date: 'dd/MMM/yyyy'}} - {{ bill.cycle_to |  date: 'dd/MMM/yyyy'}}</td>
              <td>{{ bill.btU_amount }}</td>
              <td>{{ bill.electricity_amount }}</td>
              <td>{{ bill.water_amount }}</td>
              <td>{{ bill.current_bill }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>FlatNo</th>
              <th>Periods</th>
              <th>BTU Amount</th>
              <th>Elect Amount</th>
              <th>Water Amount</th>
              <th>Current bill</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
