
<ng-template appPlaceholder></ng-template>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Invoice</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Invoice</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>


  <section class="content" *ngIf="!isLoading">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">

            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="month">Select Month</label>
                  <input type="text"
                  id="selectDate"
                  bsDatepicker class="form-control"
                  (onShown)="onOpenCalendar($event)"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'MM/YYYY' }"
                  >
                </div>
              </div>
              <div class="col-6">

              </div>
            </div>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>FlatNo</th>
                <th>Periods</th>
                <th>BTU Amount</th>
                <th>Elect Amount</th>
                <th>Water Amount</th>
                <th>Current bill</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let bill of billList">
                <td>{{ bill.flatNo }}</td>
                <td>{{ bill.cycle_from | date: 'dd/MMM/yyyy'}} - {{ bill.cycle_to |  date: 'dd/MMM/yyyy'}}</td>
                <td>{{ bill.btU_amount }}</td>
                <td>{{ bill.electricity_amount }}</td>
                <td>{{ bill.water_amount }}</td>
                <td>{{ bill.current_bill }}</td>
                <td>
                  <a style="cursor: pointer; color: black;"
                  tooltip="View invoice"
                  [routerLink]="['view', bill.billNo]">
                  <i class="fas fa-info-circle"></i>
                  </a>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>FlatNo</th>
                <th>Periods</th>
                <th>BTU Amount</th>
                <th>Elect Amount</th>
                <th>Water Amount</th>
                <th>Current bill</th>
                <th>Actions</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>


